# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
import pandas as pd
customer = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [22]:
customer

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
customer.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [19]:
customer.shape

(4008, 11)

In [21]:
customer.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [23]:
customer.GENDER.unique

<bound method Series.unique of 0       NaN
1         F
2         F
3         M
4         M
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: GENDER, Length: 4008, dtype: object>

In [41]:
customer["Policy Type"].unique

<bound method Series.unique of 0        Personal Auto
1        Personal Auto
2        Personal Auto
3       Corporate Auto
4        Personal Auto
             ...
4003               NaN
4004               NaN
4005               NaN
4006               NaN
4007               NaN
Name: Policy Type, Length: 4008, dtype: object>

In [45]:
customer.ST.unique

<bound method Series.unique of 0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: ST, Length: 4008, dtype: object>

In [42]:
customer["Vehicle Class"].unique

<bound method Series.unique of 0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
4003              NaN
4004              NaN
4005              NaN
4006              NaN
4007              NaN
Name: Vehicle Class, Length: 4008, dtype: object>

In [49]:
customer.Income.nunique

<bound method IndexOpsMixin.nunique of 0           0.0
1           0.0
2       48767.0
3           0.0
4       36357.0
         ...
4003        NaN
4004        NaN
4005        NaN
4006        NaN
4007        NaN
Name: Income, Length: 4008, dtype: float64>

In [24]:
customer.Education.unique

<bound method Series.unique of 0                     Master
1                   Bachelor
2                   Bachelor
3                   Bachelor
4       High School or Below
                ...
4003                     NaN
4004                     NaN
4005                     NaN
4006                     NaN
4007                     NaN
Name: Education, Length: 4008, dtype: object>

In [50]:
customer.select_dtypes(include ="number")

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [51]:
customer.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [67]:
customer.describe(include="object")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [55]:
customer["ST"].value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [60]:
customer["ST"].value_counts().tail()

ST
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [62]:
customer["Policy Type"].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [65]:
customer["Policy Type"].value_counts().sum()

1071

In [64]:
customer["Policy Type"].value_counts().max()

780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [72]:

personal_auto_df = customer.loc[customer['Policy Type'] == 'Personal Auto']

corporate_auto_df = customer.loc[customer['Policy Type'] == 'Corporate Auto']

print("Personal Auto DataFrame:")
print(personal_auto_df)

print("\nCorporate Auto DataFrame:")
print(corporate_auto_df)

Personal Auto DataFrame:
     Customer          ST GENDER             Education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
4     GA49547  Washington      M  High School or Below
5     OC83172      Oregon      F              Bachelor
...       ...         ...    ...                   ...
1065  XD85577        Cali      M              Bachelor
1066  TM65736      Oregon      M                Master
1067  VJ51327        Cali      F  High School or Below
1068  GS98873     Arizona      F              Bachelor
1070  MY31220  California      F               College

     Customer Lifetime Value   Income  Monthly Premium Auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
4                 536307.65%  36357.0                  68.0
5                 825629.78%  62902.0                  69.0
...                      ...      ...                   ...
1065              284226.69%  69417.0                  73.0
1066              305955.03%  38644.0                  78.0
1067             2031499.76%  63209.0                 102.0
1068              323912.47%  16061.0                  88.0
1070              899704.02%  54230.0                 112.0

     Number of Open Complaints    Policy Type  Vehicle Class  \
0                       1/0/00  Personal Auto  Four-Door Car
1                       1/0/00  Personal Auto  Four-Door Car
2                       1/0/00  Personal Auto   Two-Door Car
4                       1/0/00  Personal Auto  Four-Door Car
5                       1/0/00  Personal Auto   Two-Door Car
...                        ...            ...            ...
1065                    1/1/00  Personal Auto  Four-Door Car
1066                    1/1/00  Personal Auto  Four-Door Car
1067                    1/2/00  Personal Auto            SUV
1068                    1/0/00  Personal Auto  Four-Door Car
1070                    1/0/00  Personal Auto   Two-Door Car

      Total Claim Amount
0               2.704934
1            1131.464935
2             566.472247
4              17.269323
5             159.383042
...                  ...
1065           30.874869
1066          361.455219
1067          207.320041
1068          633.600000
1070          537.600000

[780 rows x 11 columns]

Corporate Auto DataFrame:
     Customer          ST GENDER             Education  \
3     WW63253  California      M              Bachelor
6     XZ87318      Oregon      F               College
7     CF85061     Arizona      M                Master
8     DY87989      Oregon      M              Bachelor
12    DP39365  California    NaN                Master
...       ...         ...    ...                   ...
1045  WZ31900      Oregon      F              Bachelor
1050  BJ53923     Arizona      M  High School or Below
1052  FB23788      Oregon      M  High School or Below
1056  PI47776      Oregon      F              Bachelor
1059  YG44474      Oregon      M               College

     Customer Lifetime Value   Income  Monthly Premium Auto  \
3                 764586.18%      0.0                 106.0
6                 538089.86%  55350.0                  67.0
7                 721610.03%      0.0                 101.0
8                2412750.40%  14072.0                  71.0
12                879879.70%  77026.0                 110.0
...                      ...      ...                   ...
1045              864970.06%  94389.0                 107.0
1050              260027.21%  51978.0                  66.0
1052              882883.50%  86721.0                 111.0
1056              253070.51%  89451.0                  63.0
1059             1401472.13%  54193.0                 117.0

     Number of Open Complaints     Policy Type  Vehicle Class  \
3                       1/0/00  Corporate Auto            SUV
6                       1/0/00  Corporate Auto  Four-Door Car
7                       1/0/00  Corporate Auto  Four-Door Car
8                       1/0/00  Corporate Auto  Four-Door Car
12                      1/2/00  Corporate Auto  Four-Door Car
...                        ...             ...            ...
1045                    1/0/00  Corporate Auto            SUV
1050                    1/0/00  Corporate Auto  Four-Door Car
1052                    1/0/00  Corporate Auto            SUV
1056                    1/0/00  Corporate Auto  Four-Door Car
1059                    1/0/00  Corporate Auto            SUV

      Total Claim Amount
3             529.881344
6             321.600000
7             363.029680
8             511.200000
12            472.029737
...                  ...
1045           85.063708
1050          144.782152
1052          532.800000
1056           61.769564
1059          720.752945

[234 rows x 11 columns]

In [76]:
average1 = personal_auto_df.loc[customer['Policy Type'] == 'Personal Auto',["Income"]]

       Income
0         0.0
1         0.0
2     48767.0
4     36357.0
5     62902.0
...       ...
1065  69417.0
1066  38644.0
1067  63209.0
1068  16061.0
1070  54230.0

[780 rows x 1 columns]

In [79]:
average1.mean()

Income    38180.698718
dtype: float64

In [82]:
average2 = corporate_auto_df.loc[customer['Policy Type'] == 'Corporate Auto',["Income"]]

In [83]:
average2

       Income
3         0.0
6     55350.0
7         0.0
8     14072.0
12    77026.0
...       ...
1045  94389.0
1050  51978.0
1052  86721.0
1056  89451.0
1059  54193.0

[234 rows x 1 columns]

In [84]:
average2.mean()

Income    41390.311966
dtype: float64

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [85]:
customer["Total Claim Amount"]

0          2.704934
1       1131.464935
2        566.472247
3        529.881344
4         17.269323
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: Total Claim Amount, Length: 4008, dtype: float64

In [4]:
customer["Total Claim Amount"].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [7]:
quantile_75 = customer["Total Claim Amount"].quantile(0.75)

In [8]:
customer[customer["Total Claim Amount"] >= quantile_75]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000